.u-center-text {
  text-align: center;
}

.py-1 {
  margin-bottom: 1rem;
}
.py-2 {
  margin-bottom: 2rem;
}
.py-3 {
  margin-bottom: 3rem;
}
.py-4 {
  margin-bottom: 4rem;
}
.py-5 {
  margin-bottom: 5rem;
}
.py-6 {
  margin-bottom: 6rem;
}
.py-7 {
  margin-bottom: 7rem;
}
.py-8 {
  margin-bottom: 8rem;
}
.py-9 {
  margin-bottom: 9rem;
}
.py-10 {
  margin-bottom: 10rem;
}
